/* .clr{
    color: red;
}
.btn1{
    margin: 30px;
    border-radius: 8px;
}

.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
} */